Assignment3WebScript/node_modules




#Do not commit, this is env 
port=3000
module.exports = {
    URI: "mongodb+srv://samirkhaksar_db_user:Xa3P8XHBAS4XJ80y@cluster0.v7go4ny.mongodb.net/Workout",
};

