<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

    <div class="container-fluid bg-light p-5 text-center">
  <div class="container">
    <h1 class="display-4">Workouts!</h1>
    <p class="lead">Organize your workouts</p>
    <a class="btn btn-primary btn-lg" href="/events" role="button"></a>
    <a class="btn btn-primary btn-lg" href="/events" role="button"></a>
      <i class="fas fa-calendar-alt"></i> Create New Workout
    </a>
  </div>
</div>
<main class="container p-5">

  <div class="row">
    <div class="col">
      <h2>Welcome to the Home Page</h2>
      <p>NextLevel is a web-based workout planning and tracking platform designed to help users improve their fitness through structured routines, progress tracking, and personalized workout plans. The goal is to create a simple but professional fitness directory where users can create, view, edit, and delete workouts using a secure CRUD system.</p>
    </div>
  </div>

</main>
<%- include ./partials/footer.ejs %>
