<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">

            <h1><%= title %></h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label for="nameTextField">What do you want to work on? (eg Chest, Biceps, Quadriceps)</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the workout's you want to do based on the area's you chose"
                    name="name" required>
                </div>
         
                

                <div class="form-group">
                    <label for="dateTextField">Workout Date</label>
                    <input type="date" class="form-control"
                    id="dateTextField"
                    placeholder="Select the date you are going to workout on"
                    name="date" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea"> Description on what your plan is</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the description of the plan"
                    name="description" required></textarea>
                </div>
      
                <div class="form-group">
                    <label for="locationTextField">Event Location</label>
                    <input type="text" class="form-control"
                    id="locationTextField"
                    placeholder="Enter the event location"
                    name="location" required>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>
                <a href="/events" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel
                </a>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footer.ejs %>

